@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Navegar a:</h2>

<ul>
    <li><a asp-controller="Persona" asp-action="Index">Ver Personas</a></li>
    <li><a asp-controller="Estudio" asp-action="Index">Ver Estudios</a></li>
    <li><a asp-controller="Profesion" asp-action="Index">Ver Profesiones</a></li>
    <li><a asp-controller="Telefono" asp-action="Index">Ver Teléfonos</a></li>
</ul>
